<.flash_group flash={@flash} />
<.header>
  Michael Caterisano
  <:subtitle>whelp?</:subtitle>
  <:actions>
    <div>
      <p><a href="notes">notes</a></p>
      <p><a href="live">live</a></p>
    </div>
  </:actions>
</.header>

<.list>
  <:item title="name"><%= @props.name %></:item>
  <:item title="title"><%= @props.title %></:item>
</.list>
