<.flash_group flash={@flash} />
<.header>
  <%= @props.name %>
  <:subtitle><%= @props.title %></:subtitle>
  <:actions>
    <div>
      <p><a href="notes">notes</a></p>
      <p><a href="live">live</a></p>
    </div>
  </:actions>
</.header>
<div>
  ok
</div>
