<div>
  <.back navigate={~p"/"}>Back to home</.back>

  <button
    phx-click={show_modal("my-modal")}
    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded"
  >
    Show Modal
  </button>
  <WebAppWeb.CoreComponents.modal id="my-modal">
    here's a modal
  </WebAppWeb.CoreComponents.modal>
</div>
<div>
  <%!-- This should be a component --%> Here are some notes
</div>
